input {
	background-color: #2d2d2d;
	color: #ffffff;
	font-size: 30px;
	font-family: 'Segoe UI', Arial, sans-serif;
	border-width: 0px;
	border-bottom: 2px solid #ffffff;
	width: 90%;
	display: block;
	outline-width: 0;
}

label {
	float: left;
	font-size: 150%;
	font-family: 'Segoe UI', Arial, sans-serif;
	color: #ffffff;
}

p {
	font-size: 30px;
	font-family: 'Consolas', monospace;
	color: #ffffff;
}

span.small {
	font-size: 21px;
}

@media screen and (min-width: 708px) {
	#output br:not(br.uo) {
		display: none;
	}
}

button {
	background-color: transparent;
	color: #ffffff;
	font-size: 30px;
	font-family: 'Consolas', monospace;
	border: 1px solid #ffffff;
}

button:hover {
	cursor: pointer;
}

body {
	background-color: #2d2d2d;
}
